// Backend
.sidebar{
  ul{
    li{
      list-style: none;
      a{
        color:#333;
        font-size:18px;
        &:hover{
          text-decoration: none;
          color:#000;
        }
      }
    }
  }
}